 @model Office.Models.ViewModels.LoginSignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<h1>SignUp</h1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="text-center">
                <h1 class="text-info">User Registeration</h1>
            </div>
            <form method="post" asp-action="SignUp">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter username" class="form-control" autocomplete="off" />
                </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Enter email" autocomplete="off" />
            </div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <input type="text" asp-for="Mobile" class="form-control" placeholder="Enter email" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="text" asp-for="Password" class="form-control" placeholder="Enter email" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="text" asp-for="ConfirmPassword" class="form-control" placeholder="Enter email" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-right" value="Registration" />
                    <a class="text-light btn btn-primary font-weight-bold" asp-action="Login" asp-controller="Account">Login</a>
                </div>
                </form>
